body{
    font-family: 'Raleway', sans-serif;

}
html, body {
    height:  100%;
}
ul,h1,h4,p, h5, img, div {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.text-transform-uppercase {
    text-transform: uppercase;
}
.padding-35-0{
    padding: 35px 0;
}
.padding-left-50 {
    padding-left: 55px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
}
.container {
    width: 1170px;
    margin: 0 auto;  
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.block-center-by-margin {
    margin: 0 auto;
}

.red {
    color: #e84545;
}

clearfix {
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    }