.first-screen {
    min-height: 100%;
    background-image: url(../img/background-first-screen-main-page.jpg);
    background-size: cover;
}

.header {
    min-height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.15);
}

.logo-header {
    display: block;
    float: left;
}

.navigation{
    display: block;
    float: right;
}

.navigation a:hover {
    border-bottom: 1px solid #fff;
}

.inline-list{
    display: inline;
}

.header-nav-list {
    font-weight: 800;
    font-size: 13px;
    color: #cbccd2;
    text-decoration: none;
}

.first-sreen-message {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    margin-bottom: 0;
    text-align: center;
}

.first-screen-h1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 65px;
    line-height: 71px;
}

.fitst-screen-explonation {
    font-size: 22px;
    line-height: 33px;
    color: #fff;
    padding-top: 35px;
    padding-bottom: 70px;
}

.red-button {
    display: block;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #e84545;
    width: 200px;
    border-radius: 3px;
    font-weight: 500;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

.red-button:hover {
    background-color: #d73e3e;
}
 

.col-1per3 {
    width: 385px;
    display: inline-block;
}

.col-1per3-f {
    float: left;
    width: 33%;
}

/**features**/
.features {
    display: block;
    padding-top: 60px;
    padding-bottom: 125px;
}
.col-1per3 {
    text-align: center;
    font-size: 14px;
    padding-top: 60px;
}
.h4-feature {
    color: #2d3033;   
    font-weight: 700;
    padding: 30px 0;
}
.p-feature {
    color: #6c7279;
    padding: 0 40px;
    line-height: 21px;
}
/**works**/
.works {
    min-width: 100%;  
}

.work-1per4 {
    width: 25%;
    float: left;
    position: relative;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box;
}

.work-1per4:nth-child(4n) {
    border-right: none;
}

.work-1per4:hth-child(1n) {
     clear: none;
}

.work-1per4:nth-child(4n+1) {
    clear: both;
}

.img-hover-effects {
    width: 100%;
    height: 100%;
    display: block;
}

.img-hover-effects:hover .project-description {
    opacity: 1;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out;            
    -o-transition: all 0.5s ease-in-out; 
    -ms-transition: all 0.5s ease-in-out; 
    transition: all 0.5s ease-in-out;
}

.project-description {
    opacity: 0;
    display: block;
    position: absolute; 
    top: 0; 
    left: 0;
    background: rgba(232,69,69,0.9);
    text-align: center;
    color: #fff;    
    font-size: 14px;
}

.project-description .h4-description {
    padding-top: 30%;
    font-weight: 700;
    padding-bottom: 10px;
}

/**footer**/
.footer {
    background-color: #3a3e64;   
    display: block;
    width: 100%;
    text-align: center;
    float: left;
    padding-top: 85px;
}
.h5-footer {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 20px;
}
.p-footer{
    font-size: 14px;
    color: rgba(254,254,254,0.5);
    line-height: 23px;
}
.additional-info {
    display: block;
    min-height: 100%;
    padding-bottom: 80px;
    float: left;
}
.location .p-footer{
    padding: 0 100px;
}
.about .p-footer {
    padding: 0 30px;   
    
}
.copyrighter {
    text-align: center;
    padding: 20px 0;
    display: block;
    width: 100%;
    background-color: #313454;
    float: left;
}
.copyrighter .p-footer {
    width: 350px;
    margin: 0 auto;
    font-weight: 700;
}

.fa.heart-small {
    font-size: 10px;
}

.p-footer a {
    color: #fff;
    font-weight: normal;
}

.share img {
    border: 1px solid rgba(0,0,0,0);   
}

.share img:hover {
    border: 1px solid #fff;   
}


/**team**/
.team {
    margin-top: 90px;
    margin-bottom: 110px;
    float: left;
    clear: both;
    min-width: 100%;
}
.social-team img {
    border: 1px solid rgba(0,0,0,0);
}
.social-team img:hover {
    border: 1px solid #000;
}

.name-team {
    font-size: 22px;
    color: #2d3033;
    padding-bottom: 10px;
    padding-top: 30px;
}
.desc-team {
    color: #6c7279;
    font-size: 14px;
    line-height: 21px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.team-1per4 {
    width: 24.7%; 
    padding: 5px;
    display: inline-block;
}
.job-team {
    font-size: 13px;
}

/****download section**********/

 *{
     box-sizing: border-box;
 }

 section{
     display: block;
 }

 a{
     text-decoration: none;
 }

 .section {
     padding: 100px 0;
 }

 .downlaod-container {
     width: 100%;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }

 .downlaod-container:before{
     display: table;
     content: " ";
 }

 .downlaod-container:after{
     display: table;
     content: " ";
     clear:both;
 }

 .text-center{
     text-align: center;
 }

 .col-md-8 {
     width: 50%;
     padding-right: 15px;
     padding-left: 15px;
     margin: 0 auto;
 }

 .download h3 {
     margin-top: 0;
     font-size: 28px;
     color: #2d3033;
     font-weight: 300;
     margin-bottom: 10px;
     font-family: inherit;
     line-height: 1.1;
 }

 .download p {
     color: #2d3033;
     font-weight: 600;
     text-transform: uppercase;
     font-size: 14px;
     line-height: 22.4px;
     margin: 0 0 10px;
 }

 .download #btn {
     margin-top: 30px;
     padding: 15px 40px;
     background-color: #e84545;
     color: #fff;
     font-size: 13px;
     font-weight: 600;
     border: 0;
     border-radius: 2px;
     display: inline-block;
     text-transform: uppercase;
 }